.login-form
{
    input.text
    {
        margin-bottom:10px;
        font-size: 18px;
    }

    .button
    {
        width: 127px;

        &.reset-password-button { width: auto; }
    }

    label.error { margin-top: 15px; }
}

