<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Huxley, by IGMUN</title>
    <meta charset="utf8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    {% load compressed %}
    {% block css %}
        {% compressed_css 'huxley' %}
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,700,600,400,300" rel="stylesheet" type="text/css">
    {% endblock css %}
    {% block js %}
        <script type="text/javascript">
            currentUser = {{ user_json|safe }};
            GenderConstants = {{ gender_constants|safe }};
            ContactTypes = {{ contact_types|safe }};
            ProgramTypes = {{ program_types|safe }};
        </script>
        {% compressed_js 'huxley' %}
    {% endblock js %}
</head>
<body>
    {% include "ie-warning.html" %}
    {% include "js-warning.html" %}
    <div id="huxley-app"></div>
</body>
</html>
