.titlebar
{
    height: 15px;
    padding: 10px 0px 10px 12px;
    background: #111;
    margin: 40px auto 0px;
    border-top: 1px solid #555;
    font-size: 10px;
    font-weight: 600;
    color: #666;
    letter-spacing: 13px;
    text-align: center;
}

#appnavbar
{
    width: 760px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.7;

    .tab
    {
        padding: 10px;
        color: #fff;
    }

    a
    {
        padding: 10px;
        color: #fff;
    }
    
    ul
    {
        list-style: none;

        li
        {
            display: inline;
            padding: 0px 10px;

            a
            {
                text-decoration: none;
                color: #777;
                padding: 3px;

                &:hover
                {
                    color: #eee;
                    text-shadow: 0px 1px #444;
                }

                &.currentpage
                {
                    color: #fff;
                    text-shadow: 0px 1px #444;
                }
            }
        }
    }
}
